<div class="center jumbotron">
  <h1>Bienvenid@ a la UTFV</h1>

  <h2>
    Esta es la pagina de inicio de
    <a href="http://www.utfv,com">la Universidad Tecnologica Fidel Velazquez.</a>

  </h2>

  <%= link_to 'Crear cuenta!', new_user_path, class: 'btn btn-lg btn-primary' %>
</div>

<%= link_to image_tag('rails.png', alt: 'Rails logo'),
            'http://rubyonrails.org/' %>